$color-header:#D67E35;
$color-menufood:#BC9060;
$color-btn:#FF7400;
@font-face {
    font-family: "Tinos";
    src: url("../assets/fonts/Tinos-Bold.ttf");
}
@font-face {
    font-family: "Open-Sans";
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;

}
.subtitle{
    color:$color-header;
}
.btn{
    background-color: $color-btn;

    
}
span{
    color:$color-menufood;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.header{
    background: url('../assets/img/hero-image.png') no-repeat center center/cover;
    height: 820px;
    &__container{
        padding-top: 50px;
        padding-left: 165px;
        padding-right: 165px;
        @media (max-width:1290px) {
            padding-left: 130px;
            padding-right: 130px;
        }
        @media (max-width:1220px){
            padding-left: 110px;
            padding-right: 110px;
        }
        @media(max-width:1140px){
            padding-left: 80px;
            padding-right: 80px;
        }
        @media (max-width:320px){
            padding-left: 14px;
            padding-right: 14px;
            height: 800px;
        }
    }
    
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__people-navigation{
        display: flex;
        align-items: center;
        gap:37px;
        @media(max-width:321px){
            display: none;
        }
    }
    &__list{
        display:flex;
        gap:23px;
        
    }
    &__burger{
        display: none;
        @media(max-width:321px){
            display: flex;
        }
    }
    
    &__items{
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        font-family: "Tinos";
    }
    &__phone-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:10px;
    }
    &__button{
        color:#fff;
        font-size: 14px;
        font-weight: 700;
        padding:14px 18px;
        font-family: "Tinos";
    }
    &__first-section{
        padding-top: 210px;
    }
    &__logo{
        width: 45px;
        height: 31px;
    }

   
}
.phone-box{

    &__textnum{
        display: flex;
        font-size:18px;
        font-weight:700;
        font-family: "Tinos";
        color: #fff;
        &::before{
            content:'';
            background: url('../assets/svg/phone.svg');
            width: 23px;
            height: 23px;
            display: block;
            color:#fff;
        }
    }
    &__text{
        font-weight:400;
        color: #fff;
        font-family: "Open-Sans";
    }
}
.first-section{
    &__container{
        display: flex;
        @media(max-width:321px){
            padding-left: 22px;
            padding-right: 22px;
            padding-top: 30px;
        }
    }
    &__text-block{
        text-align: center;
    }
    &__hellotext{
        color:$color-header;
        font-weight: 400;
        font-family: "Open-Sans";
        font-size: 50px;
        @media(max-width:321px){
            font-size: 30px;
        }
    }

    &__title{
        color:$color-header;
        font-weight: 400;
        font-family: "Open-Sans";
        font-size: 80px;
        @media(max-width:321px){
            font-size: 40px;
        }
    }
    &__subtitle{
        color:#fff;
        font-weight: 400;
        font-family: "Open-Sans";
        font-size: 18px;
        padding-bottom: 36px;
        @media(max-width:320px){
            font-size: 15px;
            padding-bottom: 45px;
        }
    }
    &__button{
        padding-top: 14px;
        padding-bottom: 14px;
        color:#fff;
        padding-left: 27px;
        padding-right: 27px;
        
    }
}

.second{
    &__carts-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 191px;
        margin-top: -100px;
        padding-right: 160px;
        align-items: center;
        @media(max-width:320px){
            display: block;
            padding-left: 15px;
            padding-right: 15px;
            
        }

    }
    &__cart{
        padding-top: 48px;
        width: 349px;
        height: 330px;
        background-color: #ffffff;
        text-align: center;
        box-shadow: 10px 10px 40px 10px #656565;
        @media(max-width:320px){
            width: 290px;
            height: 276px;
            margin-bottom: 15px;
            
        }
    }
    &__title{
        color:#2C2C2C;
        font-weight: 400;
        font-family: "Open-Sans";
        font-size: 26px;
        
    }
    &__text{
        font-weight: 400;
        font-family: "Open-Sans";
        font-size: 26px;
        @media(max-width:320px){

        }
    }


}

.third{
    
    &__container{
        padding-left: 166px;
        padding-right: 166px;
        padding-top: 130px;
        display: flex;
        flex-direction: row;
        gap:125px;
        @media (max-width:1290px) {
            padding-left: 130px;
            padding-right: 130px;
            gap:90px;
        }
        @media (max-width:1220px) {
            display: flex;
            flex-direction: row;
            gap:60px;
            padding-left: 100px;
            padding-right: 100px;
        }
        @media(max-width:1140px){
            gap:40px
        }
        @media (max-width:320px) {
            display: block;
            padding-left: 15px;
            padding-right: 15px;
        }

    }
    
    &__box-text{
        display: flex;
        flex-direction: column;
        gap:21px;
        @media(max-width:320px){
            align-items: center;
        }

    }
    &__carts{
        width: 290px;
        height: 260px;
    }

}

.box-text{
    &__title{
        font-size: 54px;
        font-weight: 400;
        font-family: "Open-Sans";
        text-align: center;
        @media(max-width:1140px){
            font-size: 40px;
            width: 181px;
            
        }
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
        font-family: "Open-Sans";
        color:#656363;
        width: 444px;
        text-align: center;
        @media(max-width:1140px){
            width:300px;
        }
        @media(max-width:320px){

        }
    }
    &__numberbox{
        display: flex;
        justify-content: center;
        text-align: center;
        gap:41px;
        padding-top: 45px;
        @media(max-width:320px){
            display: block;
            padding-top: 105px;
        }
    }
}

.numberbox{
    
    &__num{
        font-size: 40px;
        font-weight: 700;
        font-family: "Tinos";
        color:$color-menufood;
        @media(max-width:320px){

        }
    }
    &__box{
        @media(max-width:320px){
            padding-bottom: 22px;
        }
    }
}

.fourth{
    background: url('../assets/img/bgsection2.png') no-repeat center center / cover;
    &__container{
        display: flex;
        gap:331px;
        padding-left: 165px;
        padding-bottom: 104px;
        margin-top: 122px;
        @media (max-width:1290px) {
            padding-left: 130px;
            padding-right: 130px;
        }
        @media (max-width:1220px){
            padding-left: 110px;
            padding-right: 110px;
        }
        @media(max-width:1140px){
            padding-left: 80px;
            padding-right: 80px;
        }
        @media (max-width:320px){
            padding-left: 14px;
            padding-right: 14px;
            display: block;
            align-items: center;
        }
        

    }
    &__box{
        padding-top: 80px;
        width: 601px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media(max-width:320px){

        }
    }
    &__btn-box{
        padding-top: 104px;
        display: flex;
        align-items: center;
        @media(max-width:320px){
            justify-content: center;
        }
    }
    &__button{
        text-decoration: center;
        color: #fff;
        padding: 14px 19px;
        @media(max-width:320px){

        }
    }

}
.box{
    &__title{
        color: #D67E34;
        font-size: 52px;
        font-weight: 700;
        font-family: "Tinos";
        @media(max-width:320px){
            font-size: 30px;
            font-weight: 400;
            font-family: "Open-Sans";
            width: 290px;
            text-align: center;
        }

    }
    &__text{
        color:#fff;
        font-size: 24px;
        font-weight: 700;
        font-family: "Tinos";
        @media(max-width:320px){
            width: 290px;
            text-align: center;
        }
    }
}

.five{
    &__container{
        display: flex;
        flex-direction: column;
        padding-top: 136px;
        padding-left: 165px;
        padding-right: 165px;
        align-items: center;
        @media(max-width:320px){
            display: block;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 41px;
        }
    }
    &__images-box{
        display: flex;
        flex-direction: row;
        gap:30px;
        padding-bottom: 107px;
        @media(max-width:320px){
            display: block;
            padding-bottom: 80px;
        }
    }
    &__title{
        padding-bottom: 107px;
        font-size: 54px;
        font-weight: 400;
        font-family: "Open-Sans";
        @media(max-width:320px){
            text-align: center;
        }

    }
}
.six{
    background:url('../assets/img/back-sixth.png') no-repeat center center / cover;
    &__container{
        display: flex;
        flex-direction: column;
        padding-right: 166px;
        padding-left: 166px;
        align-items: center;
        padding-bottom: 226px;
        @media(max-width:320px){
            padding-right: 15px;
            padding-left: 15px;
            width: 320px;
        }
    }
    &__title{
        padding-top: 100px;
        font-size: 54px;
        font-weight: 400;
        font-family: "Open-Sans";
        width:270px;
        color: #fff;
        text-align:center ;
    }
}
.menu{
    &__items{
        display: flex;
        flex-direction: row;
        padding-right: 30px;
        gap:30px;
        @media(max-width:320px){

        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 350px;
        height: 510px;
        padding-top: 80px;
        @media(max-width:320px){
            display: none;
        }
    }
    &__item-one{
        display: none;
        @media(max-width:320px){
            display: flex;
            background-color: #fff;
            width: 260px;
            height: 510px;
            padding-top: 80px;
            padding-left: 15px;
            padding-right: 15px;
            flex-direction: column;
            align-items: center;
            
        }
    }
}
.item{
    &__title{
        padding-top: 22px;
        font-size: 26px;
        font-weight: 400;
        font-family: "Open-Sans";
        color: #000000;
        
    }
    &__text{
        padding-top: 17px;
        font-size: 16px;
        font-weight: 400;
        font-family: "Open-Sans";
        width: 226px;
        padding-bottom: 16px;

    }
    &__btn{
        padding: 14px 68px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        font-family: "Tinos";

    }
}

.footer{
    &__container{
        background-color: #C4C4C4;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 260px;
        padding-right: 260px;
        padding-top: 104px;
        gap:10px;
        height: 550px;
        @media(max-width:321px){
            width: 320px;
            padding-right: 0;
            padding-left: 0;
        }
    }
    &__face{
        padding-top: 100px;
        font-size: 20px;
        font-weight: 500;
    }
    &__text{
        width: 920px;
        text-align: center;
        @media(max-width:321px){
            width: 290px;
        }

    }
    &__status{
        font-weight: 700;
        font-family: "Tinos";
        font-size: 20px;
    }
    &__name{
        font-weight: 400;
        font-family: "Open-Sans";
        font-size: 20px;
    }
}